@model Bizlounge.Models.ProjectViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
    <table class="ui single line table">
  <tbody>
      <tr>
          <td><strong> @Html.DisplayNameFor(model => model.Project.Name)</strong></td>
          <td>@Html.DisplayFor(modelItem => Model.Project.Name)</td>
      </tr>
    <tr>
       <td><strong> @Html.DisplayNameFor(model => model.ProjectOwner)</strong></td>
       <td>@Html.DisplayFor(modelItem => Model.ProjectOwner.FullName)</td>
  </tbody>
</table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Project.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
